@import "../../styles/variables";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: $orange;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 0.2rem;
  border: solid $black 0.2rem;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: $orange;
}
