@import "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-bottom: 2.75rem;
}

@media (min-width: 480px) {
  .container {
    margin-bottom: initial;
  }
}
