@import "../../styles/variables";
@import "../../styles/media_queries";

.container {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-top: 1rem;
}

@include tablet {
  .container {
    margin-bottom: initial;
    margin-top: 1.5rem;
  }
}

@include desktop {
  .container {
    margin-top: 2rem;
  }
}
