@import "../../styles/variables";
@import "../../styles/media_queries";

.label {
  font-size: 1rem;
}

.required {
  color: $red;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.mobileHidden {
  display: none;
}

@include tablet {
  .label {
    font-size: 1.1rem;
  }

  .mobileHidden {
    display: block;
  }
}

@include desktop {
  .label {
    font-size: 1.2rem;
  }
}
