@import "../../styles/variables";
@import "../../styles/media_queries";

.label {
  display: none;
}

.required {
  color: $red;
  font-weight: bold;
}

@include tablet {
  .label {
    display: block;
    text-align: initial;
  }
}

@include desktop {
  .label {
  }
}
