@import "../../styles/variables";
@import "../../styles/media_queries";

.card {
  display: flex;
  border-radius: 0.6rem;
  justify-content: space-between;
  align-items: center;
  background-color: $light-gray;
  position: relative;
  margin-bottom: 1rem;
}

.card:last-child {
  margin-bottom: 0;
}

.dataContainer {
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.text {
  margin: 0;
  font-size: 0.9rem;
}

.textBold {
  font-weight: bold;
}

.primary {
  border: solid $pink 0.2rem;
}

.tertiary {
  border: solid $brown 0.2rem;
}

@include tablet {
  .dataContainer {
    padding: 0.4rem 0.8rem 0.3rem 0.8rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 1rem;
  }
}

@include desktop {
  .dataContainer {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1.1rem;
  }
}
