@import "../../styles/variables";
@import "../../styles/media_queries";

.input {
  font-size: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  border: solid $gray 0.2rem;
  width: 100%;
  padding-left: 0.2rem;
}

.input::placeholder {
  color: $gray;
}

.input[type="date"] {
  width: 50%;
  font-size: 0.9rem;
}

.lastItem {
  margin-bottom: 0;
}

@include tablet {
  .input {
    font-size: 1.1rem;
    padding-left: 0.3rem;
  }

  .input::placeholder {
    color: $white;
  }

  .input[type="date"] {
    font-size: 1.1rem;
  }

  .lastItem {
    margin-bottom: 1rem;
  }
}

@include desktop {
  .input {
    font-size: 1.2rem;
    padding-left: 0.4rem;
  }

  .input[type="date"] {
    font-size: 1.2rem;
  }
}
