@import "../../styles/variables";
@import "../../styles/media_queries";

.menu {
  position: fixed;
  bottom: 0;
  width: calc(100% - 4.4rem);
  z-index: 99;
  padding: 0.8rem 0 0.8rem 0;
  margin-bottom: 1.2rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.messageContainer {
  position: relative;
}

.arrowContainer {
  position: absolute;
  right: 0;
  width: initial;
  height: 100%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  transform: rotate(-180deg);
  margin-bottom: 0.3rem;
}

@include tablet {
  .menu {
    position: initial;
    width: 100%;
    padding: 0rem 0 1rem 0;
    margin-bottom: 0;
    gap: 1rem;
  }

  .arrowContainer {
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    font-size: 1.2rem;
    transform: initial;
    margin-bottom: initial;
  }
}

@include desktop {
  .arrowContainer {
    width: 6rem;
  }

  .arrow {
    font-size: 1.4rem;
  }
}
