@import "../../styles/variables";

.button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
  width: 5rem;
  border-radius: 0.6rem;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
}

.primary {
  background-color: $fuchsia;
  color: $white;
  border: solid $fuchsia 0.1rem;
}

.primary:hover {
  background-color: $white;
  color: $fuchsia;
  border: solid $fuchsia 0.1rem;
}

.secondary {
  background-color: $dark-gray;
  color: $white;

  border: solid $dark-gray 0.1rem;
}

.secondary:hover {
  background-color: $white;
  color: $dark-gray;
  border: solid $dark-gray 0.1rem;
}

.tertiary {
  background-color: $brown;
  color: $white;
  border: solid $brown 0.1rem;
}

.tertiary:hover {
  background-color: $white;
  color: $brown;
  border: solid $brown 0.1rem;
}

@media (min-width: 480px) {
  .button {
    font-size: 1.1rem;

    width: 5.5rem;
  }
}

@media (min-width: 992px) {
  .button {
    font-size: 1.2rem;

    width: 6rem;
  }
}
