@import "../../styles/variables";
@import "../../styles/media_queries";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.btns {
  display: flex;
  justify-content: space-between;
}
