@import "../../styles/variables";
@import "../../styles/media_queries";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.calendarContainer {
  display: flex;
  justify-content: center;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
}

@include desktop {
  .calendarContainer {
    margin-bottom: 1rem;
  }
}
