@import "../../styles/variables";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.calendarContainer {
  display: flex;
  justify-content: center;
}

.btnsContainer {
  display: flex;
  justify-content: flex-end;
}

.btnCancel {
  position: absolute;
  bottom: 1rem;
}

@media (min-width: 480px) {
  .calendarContainer {
    margin-bottom: 1rem;
  }

  .btnCancel {
    bottom: 1.5rem;
  }
}

@media (min-width: 992px) {
  .btnCancel {
    bottom: 2rem;
  }
}
