@import "../../styles/variables";
@import "../../styles/media_queries";

.title {
  margin: 0;
}

@include tablet {
  .title {
    font-size: 1.75rem;
  }
}

@include desktop {
  .title {
    font-size: 1.75rem;
  }
}
