@import "../../styles/variables";
@import "../../styles/media_queries";

.title {
  margin: 0;
}

.h1 {
  font-size: 1.25rem;
}

.h2 {
  font-size: 1.2rem;
}

.h3 {
  font-size: 1.15rem;
}

.h4 {
  font-size: 1.1rem;
}

.h5 {
  font-size: 1.05rem;
}

.h6 {
  font-size: 1rem;
}

@include tablet {
  .h1 {
    font-size: 1.5rem;
  }

  .h2 {
    font-size: 1.45rem;
  }

  .h3 {
    font-size: 1.4rem;
  }

  .h4 {
    font-size: 1.35rem;
  }

  .h5 {
    font-size: 1.3rem;
  }

  .h6 {
    font-size: 1.25rem;
  }
}

@include desktop {
  .h1 {
    font-size: 1.75rem;
  }

  .h2 {
    font-size: 1.7rem;
  }

  .h3 {
    font-size: 1.65rem;
  }

  .h4 {
    font-size: 1.6rem;
  }

  .h5 {
    font-size: 1.55rem;
  }

  .h6 {
    font-size: 1.5rem;
  }
}
