@import "../../styles/variables";

.container {
  padding: 1rem;
  border: solid $light-gray 0.2rem;
  border-radius: 0.6rem;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 480px) {
  .container {
    padding: 1.5rem;
    max-width: 600px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 2rem;
    width: 792.8px;
  }
}
