@import "../../styles/variables";
@import "../../styles/media_queries";

.container {
  border: solid $light-gray 0.2rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 1rem;
}

@include tablet {
  .container {
    width: 500px;
    margin: auto;
    padding: 1.5rem;
  }
}

@include desktop {
  .container {
    width: 600px;
    padding: 2rem;
  }
}
