@import "../../styles/variables";
@import "../../styles/media_queries";

.text {
  margin: 0;
  font-size: 0.9rem;
}

.textBold {
  font-weight: bold;
}

@include tablet {
  .text {
    font-size: 1rem;
  }
}

@include desktop {
  .text {
    font-size: 1.1rem;
  }
}
