@import "../../styles/variables";

.container {
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  height: calc(100vh - 2rem);
  padding: 1rem;
  border: solid $light-gray 0.2rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.picture {
  display: flex;
  justify-content: center;
}

.textContainer {
  padding: 1rem;
  height: 200px;
  overflow-y: scroll;
  background-color: $light-gray;
  border-radius: 0.6rem;
  border: solid $black 0.2rem;
}

.text {
  margin: 0;
}

.textBold {
  font-weight: bold;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .container {
    width: 80%;
    margin: auto;
    justify-content: center;
  }

  .box {
    height: initial;
  }

  .title {
    font-size: 1.75rem;
  }

  .textContainer {
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 792.8px;
  }

  .title {
    font-size: 2rem;
  }
}
