@import "../../styles/variables";
@import "../../styles/media_queries";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  padding: 1rem;
  height: 200px;
  overflow-y: scroll;
  background-color: $light-gray;
  border-radius: 0.6rem;
  border: solid $black 0.2rem;
  margin-bottom: 1rem;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
}

@include tablet {
  .textContainer {
    height: 300px;
    margin-bottom: 1.5rem;
  }
}

@include desktop {
  .textContainer {
    height: 400px;
    margin-bottom: 2rem;
  }
}
