// Colors
$pink: #f97da3;
$fuchsia: #ed5180;
$orange: #fcad3a;
$brown: #99783d;
$white: #ffffff;
$light-gray: #dbdbdb;
$gray: #a4a4a4;
$dark-gray: #747474;
$black: #000000;
$green: #28a745;
$red: #dc3545;
